/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

/* COMMON */
/* layout */

.wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
    /* debug */
    background-color: black;
}

.flex {
    display: flex;

}
.wrap {
    flex-wrap:wrap;
    gap: 10px; 
}

.btn {
    margin-right: 10px;
    padding: .2rem;
    border-radius: 3px;
    background-color: gray;
    color: white;
}

.top {
    position: absolute;
    top: 8px;
    right: 0;
}

/* MAIN */
.meeting {
    width: 90%;
    height: calc(100% - 80px);
    margin: 0 auto;
    padding-top: 40px;
}

.col {
    
    /* justify-content: center; */

}

.user {
    position: relative;
    width:calc((100% - 60px) / 7);
}

.name {
    position: absolute;
    left: 0;
    bottom: 5px;
    font-size: .8rem;
    padding: .3rem;
    z-index: 1;
    color: white;
    background-color: rgba(254, 254, 255, 0.5);

}


.bar {
    height: 80px;
    position: relative;
    background-color: #222222;
    padding-top:2rem ;
}

.bar ul {
    display: flex;
    list-style-type: none;
    color: white;
}

.bar li {
    margin-right: .5rem;
}

.left-side {
    width:40%;
    margin-left: 10px;
}

.center-side {
    width: 50%;
    
}
.right-side {
    width: 10%;
    color: red;
    text-align: right;
}

.end {
    font-size: .8rem;
    background-color: rgba(255, 255, 255,0.5);
    margin-right: 10px;
    text-align: center;
    width: 90px;
    padding: .5rem;
    
    
}


